{erl_opts, [debug_info]}.
{deps, [
        {bucs, {git, "git://github.com/G-Corp/bucs.git", {branch, "master"}}},
        {svg, {git, "git://github.com/fogfish/svg.git", {branch, "master"}}},
        {jsx, "2.9.0"},
        {getopt, "1.0.1"}
       ]}.

{provider_hooks, [{post, [{compile, escriptize}]}]}.
{escript_incl_apps, [bucs, svg, getopt, jsx]}.
